<aside class="relative w-[100%] md:w-[115% flex flex-col items-start justify-center p-4 sm:p-5 md:p-6 gap-2 sm:gap-3 md:gap-4">
  <h3 class="[font-size:clamp(1.5rem,4vw,2.5rem)] font-semibold text-secondary w-full">
    DÓNDE QUIERES
  </h3>
  <p lang="es" class="[font-size:clamp(0.875rem,2.5vw,1.25rem)] text-white [text-align:justify] [-webkit-hyphens:auto] [-ms-hyphens:auto] [hyphens:auto] [text-wrap:balance] leading-relaxed">
    Localizaciones privadas como clubes, urbanizaciones, pubs, recreativos... También públicas y gratuitas como parques, zonas naturales... Dónde mejor os venga a tus compañeros y a ti para disfrutar al máximo.
  </p>
</aside>
