---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/images/brand/logoText.svg';
---

<Layout title="Información para Empresas - Dactive">
  <main class="container mx-auto px-4 py-8 text-white flex flex-col items-center justify-center min-h-screen">
    <div class="mb-8 sm:mb-10 md:mb-12">
      <Logo class="text-secondary h-10 sm:h-20 md:h-24 lg:h-28 w-auto" /> 
    </div>
    <div class="text-center">
      <h1 class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4">EN MANTENIMIENTO</h1>
    </div>
    <div class="mt-8 sm:mt-10 md:mt-12">
      <a href="/" class="text-secondary hover:underline text-base sm:text-lg md:text-xl">
        &larr; Volver a Inicio
      </a>
    </div>
  </main>
</Layout>