---
import Layout from '@/layouts/Layout.astro';
import LoginForm from '@/components/LoginForm.astro';
import Header from '@/sections/Header.astro';
import Hero from '@/sections/Hero.astro';
import Datos from '@/sections/Datos.astro';
import Radar from '@/sections/Radar.astro';
import Mockup from '@/sections/Mockup.astro';
import Identity from '@/sections/Identity.astro';
import Download from '@/sections/Download.astro';
import Footer from '@/sections/Footer.astro';

const isLoggedIn = Astro.cookies.get('isLoggedIn')?.value === 'true';

const sections = [Header, Hero, Identity, Mockup, Radar, Datos, Download, Footer];
---

<Layout title="Dactive - Conecta y Compite">
  { !isLoggedIn ? (
    <LoginForm />
  ) : (
    <main id="main-content">
      {sections.map((Section) => <Section />)}
    </main>
  )}
</Layout>