---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/images/brand/logoText.svg';
import DownloadIcon from '../assets/images/icons/download.svg'; // Importar el icono de descarga
---

<Layout title="Política de Privacidad - Dactive">
  <main class="container mx-auto px-4 py-8">
    <div class="flex justify-center mb-8">
      <a href="/" class="h-10">
        <Logo class="text-secondary" /> 
      </a>
    </div>
    <div class="flex justify-between items-center mb-8">
      <a href="/" class="text-secondary hover:underline">
        &larr; Volver
      </a>
      <a 
        href="/privacy-policy.pdf" 
        download="Politica_de_Privacidad_Dactive.pdf"
        class="bg-secondary text-black font-semibold py-2 px-4 rounded-lg hover:bg-secondary-dark transition-colors flex items-center"
      >
        <DownloadIcon class="w-5 h-5 mr-2" />
        Descargar PDF
      </a>
    </div>
    <article class="prose lg:prose-xl mx-auto text-white">
      <h1>Política de Privacidad</h1>
      <p><em>Última actualización: 27 de mayo de 2025</em></p>

      <p>Se incluye en su conjunto la Política de Privacidad de la página web www.dactive.es y de la aplicación móvil DACTIVE.</p>

      <h2>1. Responsable del Tratamiento de los Datos:</h2>
      <ul>
        <li><strong>Nombre:</strong> DACTIVE MATCH SL</li>
        <li><strong>Ubicación:</strong> Madrid, España</li>
        <li><strong>Contacto:</strong> info@dactive.es</li>
      </ul>

      <h2>2. Finalidad del Tratamiento:</h2>
      <p>En DACTIVE, recopilamos y tratamos los datos personales de nuestros usuarios con las siguientes finalidades:</p>
      <ul>
        <li><strong>Prestación de Servicios:</strong> Los datos se recogen para registrar y gestionar usuarios en la aplicación DACTIVE, permitiendo la personalización de la experiencia del usuario, el sistema de matching y la optimización de las interacciones sociales dentro de la aplicación. También incluye la gestión de solicitudes y el cumplimiento de obligaciones legales.</li>
        <li><strong>Conservación de Datos:</strong> Los datos se conservarán durante el tiempo necesario para cumplir con las finalidades descritas anteriormente y para atender las solicitudes y obligaciones legales correspondientes. Los datos podrán ser almacenados durante los plazos exigidos por la legislación aplicable.</li>
      </ul>

      <h2>3. Legitimación:</h2>
      <ul>
        <li><strong>Base Jurídica:</strong> El tratamiento de los datos se realiza sobre la base del consentimiento del interesado, conforme al Reglamento General de Protección de Datos 2016/679 y la Ley Orgánica 3/2018 de Protección de Datos Personales y garantía de los derechos digitales.</li>
        <li><strong>Obligación de Proporcionar Datos:</strong> Aunque no está obligado a proporcionar sus datos, es necesario hacerlo para poder gestionar sus solicitudes o peticiones a través de la aplicación.</li>
      </ul>

      <h2>4. Categorías de Datos Tratados:</h2>
      <p>En DACTIVE recopilamos una variedad de datos necesarios para ofrecer un servicio personalizado y de alta calidad a nuestros usuarios. Estos datos incluyen, pero no se limitan a:</p>
      <ul>
        <li><strong>Datos personales:</strong> Nombre, apellidos, género, edad, teléfono, email e imagen.</li>
        <li><strong>Preferencias y comportamiento:</strong> Deportes que desea jugar, nivel de juego, nivel deseado del resto de jugadores y ubicaciones preferidas para jugar.</li>
        <li><strong>Interacciones sociales:</strong> Con quién desea jugar (edad, género, grupos y jugadores), jugadores y grupos guardados, disponibilidad para jugar y estadísticas relacionadas con el uso de la app.</li>
        <li><strong>Datos técnicos:</strong> Tipo de dispositivo utilizado, dirección IP, y datos recopilados mediante cookies y tecnologías de seguimiento para analizar el uso de la plataforma y mejorar nuestros servicios.</li>
      </ul>

      <h2>5. Privacidad entre usuarios:</h2>
      <p>En DACTIVE, la privacidad y seguridad de nuestros usuarios es una prioridad, utilizando el anonimato en la gran mayoría de datos a fin de lograr mayor honestidad y transparencia en las relaciones entre los mismos jugadores. Todos los datos recogidos se utilizan exclusivamente para fines internos y no se comparten con terceros, salvo obligación legal. Hemos implementado medidas estrictas para proteger la privacidad entre usuarios dentro de la plataforma:</p>
      <ul>
        <li><strong>Información limitada en perfiles:</strong> Cuando un usuario accede al perfil de otro, solo podrá ver información muy limitada (nombre, presentación e imágenes), sin detalles específicos de preferencias y actividad.</li>
        <li><strong>Privacidad en las interacciones:</strong> No se muestra el nivel de juego, los jugadores o grupos guardados, ni la actividad o partidos pasados no comunes con otros usuarios. Tampoco se permite la mensajería privada entre usuarios.</li>
        <li><strong>Sistema de match bidireccional:</strong> Los partidos y actividades solo se confirman si existe un deseo mutuo y anónimo entre ambas partes, garantizando la privacidad, integridad y comodidad de todos los usuarios.</li>
        <li><strong>Gestión de Interacciones y Reportes:</strong> DACTIVE pone a disposición del usuario herramientas para facilitar la detección y comunicación de comportamientos inapropiados de otros usuarios. Además, los usuarios pueden bloquear a otros usuarios para evitar hacer match con ellos en el futuro. Estas medidas están diseñadas para mantener un entorno seguro y respetuoso en la plataforma. Asimismo, se permite a los usuarios solicitar soporte técnico y enviar sugerencias para mejorar la aplicación, contribuyendo así a una experiencia más positiva para toda la comunidad.</li>
      </ul>

      <h2>6. Destinatarios de los Datos:</h2>
      <ul>
        <li><strong>Cesiones de Datos:</strong> No se cederán datos a terceros salvo por obligación legal. Los datos pueden ser accedidos por organizaciones o personas relacionadas con la empresa y la Administración pública competente.</li>
        <li><strong>Encargados de Tratamiento:</strong> Es posible que los encargados de tratamiento accedan a los datos para realizar funciones de mantenimiento.</li>
        <li><strong>Transferencias:</strong> DACTIVE utiliza servicios de terceros para el almacenamiento, procesamiento de datos y análisis de uso, como servidores y plataformas de desarrollo, sin que se compartan los datos directamente más allá de los acuerdos de confidencialidad y protección, sin posibilidad de tratamiento, comercialización y divulgación de los mismos.</li>
      </ul>

      <h2>7. Derechos del Usuario:</h2>
      <p>Los usuarios de DACTIVE tienen derechos sobre sus datos personales, que pueden ejercer en cualquier momento:</p>
      <ul>
        <li><strong>Acceso, Rectificación y Supresión:</strong> El usuario tiene derecho a acceder, rectificar y suprimir sus datos personales, así como a ejercer otros derechos mediante comunicación al correo electrónico info@dactive.es.</li>
        <li><strong>Portabilidad de Datos y Limitación del Tratamiento:</strong> El usuario tiene derecho a solicitar la portabilidad de los datos que ha proporcionado directamente a DACTIVE, así como a limitar el tratamiento de sus datos. Esto incluye la posibilidad de eliminar su cuenta y todos los datos asociados de nuestros servidores.</li>
        <li><strong>Retirar el Consentimiento:</strong> El usuario puede retirar su consentimiento en cualquier momento mediante las vías de contacto mencionadas.</li>
        <li><strong>Reclamación ante la Autoridad de Control:</strong> El usuario tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos si considera que hay alguna incidencia en el tratamiento de sus datos.</li>
      </ul>

      <h2>8. Procedencia de los Datos:</h2>
      <ul>
        <li><strong>Origen de los Datos:</strong> Los datos son facilitados directamente por el interesado o su representante legal.</li>
        <li><strong>Veracidad de los datos:</strong> Los usuarios son responsables de la veracidad y exactitud de los datos que proporcionan, lo que nos permite garantizar la calidad y seguridad en el tratamiento de la información.</li>
      </ul>
    </article>
  </main>
</Layout>

<style>
  /* Puedes añadir estilos específicos aquí si es necesario */
  .h-10 svg {
    height: 2.5rem; /* 40px */
    width: auto;
  }
  article h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  article ul {
    list-style-type: disc;
    margin-left: 2em;
  }
  article ul li {
    margin-bottom: 0.5em;
  }
</style>
