---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/images/brand/logoText.svg';
import DownloadIcon from '../assets/images/icons/download.svg'; // Importar el icono de descarga
---

<Layout title="Términos de Servicio - Dactive">
  <main class="container mx-auto px-4 py-8">
    <div class="flex justify-center mb-8">
      <a href="/" class="h-10">
        <Logo class="text-secondary" />
      </a>
    </div>
    <div class="flex justify-between items-center mb-8">
      <a href="/" class="text-secondary hover:underline">
        &larr; Volver
      </a>
      <a 
        href="/terms-of-service.pdf" 
        download="Terminos_de_Servicio_Dactive.pdf"
        class="bg-secondary text-black font-semibold py-2 px-4 rounded-lg hover:bg-secondary-dark transition-colors flex items-center"
      >
        <DownloadIcon class="w-5 h-5 mr-2" />
        Descargar PDF
      </a>
    </div>
    <article class="prose lg:prose-xl mx-auto text-white">
      <h1>Términos de Servicio</h1>
      <p><em>Última actualización: 27 de mayo de 2025</em></p>

      <p>Se incluye en su conjunto los Términos de Uso de la página web www.dactive.es y de la aplicación móvil DACTIVE.</p>

      <h2>1. Aceptación de los Términos:</h2>
      <p>El acceso y uso de la aplicación DACTIVE y su página web implica la aceptación plena de los presentes Términos de Uso. Si el usuario no está de acuerdo con alguno de los términos aquí dispuestos, deberá abstenerse de utilizar la aplicación o la página web.</p>

      <h2>2. Objeto:</h2>
      <p>A través de la aplicación DACTIVE, los usuarios pueden acceder a una serie de servicios y funcionalidades relacionados con la organización de actividades deportivas, incluyendo el sistema de matching y las interacciones sociales dentro de la plataforma. DACTIVE se reserva el derecho de modificar en cualquier momento la presentación, configuración y localización de la aplicación o la página web, así como los servicios y contenidos ofrecidos.</p>

      <h2>3. Condiciones de Acceso y Uso:</h2>
      <p>El acceso a la aplicación y a la web de DACTIVE es libre y gratuito para los usuarios. Para acceder a la mayoría de funcionalidades de la aplicación, el usuario deberá registrarse y proporcionar información personal, la cual será tratada conforme a la Política de Privacidad.</p>

      <h2>4. Edad Mínima:</h2>
      <p>El uso de DACTIVE está reservado para personas mayores de 16 años. Al registrarse y utilizar la aplicación, el usuario declara y garantiza que cumple con este requisito. En caso de detectar el uso por parte de menores de 16 años, DACTIVE se reserva el derecho de eliminar la cuenta y los datos asociados.</p>

      <h2>5. Responsabilidad del Usuario:</h2>
      <p>El usuario se compromete a hacer un uso adecuado y lícito de la aplicación y la web de DACTIVE, conforme a la legislación aplicable, estos Términos de Uso, la moral y el orden público. En particular, el usuario se compromete a:</p>
      <ul>
        <li>Proporcionar información veraz y exacta al registrarse y durante el uso de la aplicación.</li>
        <li>No utilizar la aplicación o la web con fines ilícitos, fraudulentos o no autorizados.</li>
        <li>No dañar, inutilizar, sobrecargar o deteriorar los servicios, sistemas o contenidos de DACTIVE.</li>
        <li>No intentar acceder, manipular o usar datos de otros usuarios sin su consentimiento.</li>
      </ul>

      <h2>6. Reportes y Bloqueos:</h2>
      <p>DACTIVE pone a disposición del usuario herramientas para reportar comportamientos inapropiados de otros usuarios o grupos dentro de la aplicación. Además, los usuarios pueden bloquear a otros usuarios para evitar hacer match con ellos en el futuro. Estas medidas están diseñadas para mantener un entorno seguro y respetuoso en la plataforma.</p>

      <h2>7. Creación y Gestión de Grupos y Espacios:</h2>
      <p>Los usuarios pueden crear y unirse a grupos y espacios dentro de la aplicación. Estos grupos deben cumplir con los siguientes criterios:</p>
      <ul>
        <li><strong>Afinidad y Propósito:</strong> Los grupos y espacios deben ser creados con un propósito claro y basarse en afinidades comunes y objetivas entre sus miembros (como ser parte de la misma empresa o institución) a fin de facilitar la organización de encuentros deportivos en un ambiente respetuoso y saludable que fomente el sentimiento de pertenencia a ese mismo grupo.</li>
        <li><strong>Contenido Apropiado:</strong> Los usuarios son responsables del contenido que suban a los grupos y espacios, asegurando que no infrinja derechos de terceros ni cause perjuicio a la reputación de otros.</li>
      </ul>

      <h2>8. Recomendaciones dónde practicar deporte:</h2>
      <p>DACTIVE realiza recomendaciones dónde practicar deporte en base a las preferencias y disponibilidades de los jugadores y los mismos espacios deportivos. DACTIVE no valida la disponibilidad completa de un espacio. Las condiciones de contratación y uso de espacios deportivos, si las hubiese, son en cada espacio, y es posible que se gestionen en plataformas externas sin seguimiento y sin responsabilidad de DACTIVE.</p>

      <h2>9. Supervisión y Moderación de Contenidos y Actividades:</h2>
      <p>DACTIVE se reserva el derecho de revisar, supervisar, eliminar o modificar cualquier contenido generado por los usuarios, con el objetivo de garantizar la seguridad, cumplir con la normativa vigente, y mantener un entorno respetuoso y funcional. Estas acciones se realizan para detectar y prevenir comportamientos inapropiados, resolver disputas, mejorar la calidad del servicio, y proteger la integridad de la comunidad. DACTIVE también puede realizar acciones de limpieza para eliminar contenidos duplicados, inactivos o que no cumplan con los estándares de la comunidad.</p>

      <h2>10. Derechos de Admisión y Eliminación de Usuarios:</h2>
      <p>DACTIVE se reserva el derecho de admisión y puede eliminar o suspender la cuenta de cualquier usuario que no cumpla con estos Términos de Uso o que cause perjuicios a otros usuarios o grupos. Este derecho se extiende a casos de comportamiento inapropiado, uso indebido de la plataforma o cualquier otra acción perjudicial para la comunidad.</p>

      <h2>11. Propiedad Intelectual:</h2>
      <p>Todos los derechos de propiedad intelectual sobre los contenidos, diseño, y código fuente de la aplicación y la web de DACTIVE pertenecen a DACTIVE MATCH SL o a terceros que han autorizado su uso. Queda prohibida la reproducción, distribución, comunicación pública, transformación o cualquier otra forma de explotación de los contenidos sin el consentimiento previo por escrito del titular de los derechos.</p>

      <h2>12. Exoneración de Responsabilidad:</h2>
      <p>DACTIVE se esfuerza por ofrecer un servicio de alta calidad, facilitando matches según los deseos y filtros establecidos por los usuarios. Sin embargo, el proceso de matching no es infalible, y DACTIVE no se responsabiliza por matches no deseados, malentendidos entre usuarios, o resultados imprevistos derivados del uso de la plataforma. Además, DACTIVE no garantiza la disponibilidad continua de la aplicación y la web, y no se responsabiliza por daños o perjuicios derivados de la falta de disponibilidad, errores, interrupciones o fallos en el servicio, incluyendo aquellos causados por terceros proveedores tecnológicos. En ningún caso, DACTIVE será responsable por daños indirectos, incidentales, especiales o consecuentes derivados del uso o la imposibilidad de uso de la plataforma.</p>

      <h2>13. Modificaciones:</h2>
      <p>DACTIVE se reserva el derecho de modificar estos Términos de Uso en cualquier momento. Las modificaciones serán efectivas una vez publicadas en la aplicación o en la página web. Se recomienda a los usuarios revisar periódicamente estos términos.</p>

      <h2>14. Ley Aplicable y Jurisdicción:</h2>
      <p>Los presentes Términos de Uso se rigen por la ley española. En la medida en que así lo permita la ley, las partes acuerdan someterse a la jurisdicción de los juzgados y tribunales de Madrid, renunciando a cualquier otro fuero que pudiera corresponderles.</p>
    </article>
  </main>
</Layout>

<style>
  /* Puedes añadir estilos específicos aquí si es necesario */
  .h-10 svg {
    height: 2.5rem; /* 40px */
    width: auto;
  }
  article h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  article ul {
    list-style-type: disc;
    margin-left: 2em;
  }
  article ul li {
    margin-bottom: 0.5em;
  }
</style>
