---
import logo from '../assets/logo.svg';
---

<header class="flex justify-between w-full px-8 py-4 bg-transparent">
    <img
        src={logo.src}
        alt="Dactive Logo"
        class="w-12 h-12 cursor-pointer" 
    />
    <button class="bg-gradient-to-br from-primary to-secondary text-white px-6 cursor-pointer transition-transform duration-300 hover:scale-105">Download</button>
</header>