---
import IconRapidez from '@/assets/images/icons/rapidez.svg'
import IconPrivacidad from '@/assets/images/icons/privacidad.svg'
import IconAfinidad from '@/assets/images/icons/afinidad.svg'
import IconAccesibilidad from '@/assets/images/icons/accesibilidad.svg'
import IconBienestar from '@/assets/images/icons/bienestar.svg'

const cards = [
  {
    title: 'Rapidez',
    icon: IconRapidez,
    description: 'Deja que el partido te encuentre. El sistema de matching DACTIVE elimina la búsqueda activa y la incertidumbre. Conéctate fácil y rápido.',
    colSpan: 'md:col-span-1',
    iconPos: 'top-0 right-0 translate-x-1/3 -translate-y-1/3'
  },
  {
    title: 'Privacidad',
    icon: IconPrivacidad,
    description: 'Tu juego, tus reglas. Conéctate de forma segura y auténtica, sin exposiciones innecesarias ni filtros. Priorizamos tu privacidad en cada conexión.',
    colSpan: 'md:col-span-1',
    iconPos: 'top-0 right-0 translate-x-1/3 -translate-y-1/3'
  },
  {
    title: 'Afinidad',
    icon: IconAfinidad,
    description: 'Conectamos jugadores con intereses y disponibilidad similares. Aseguramos que cada partido sea una experiencia compartida y relevante para todos.',
    colSpan: 'md:col-span-1',
    iconPos: 'top-0 right-0 translate-x-1/3 -translate-y-1/3'
  },
  {
    title: 'Accesibilidad',
    icon: IconAccesibilidad,
    description: 'Jugar es más fácil que nunca. DACTIVE se encarga de encontrar tu próximo partido, eliminando la necesidad de buscar o coordinar con contactos.',
    colSpan: 'md:col-span-1',
    iconPos: 'top-0 right-0 translate-x-1/3 -translate-y-1/3'
  },
  {
    title: 'Bienestar',
    icon: IconBienestar,
    description: 'Fomentamos la pasión por el deporte con competitividad sana. Unimos tecnología y comunidad para crear una experiencia deportiva inclusiva.',
    colSpan: 'md:col-span-1',
    iconPos: 'top-0 right-0 translate-x-1/3 -translate-y-1/3'
  }
];
---

<section class="py-20 px-20 max-w-[1440px] mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-12 items-stretch">
        <h2 class="flex flex-col items-center justify-center text-4xl md:text-5xl font-extrabold italic text-center md:text-left text-secondary">
            <span class="[text-shadow:2px_2px_2px_#EE7C1B]">MATCH</span>
            <span class="[text-shadow:2px_2px_2px_#EE7C1B]">ES MÁS</span>
        </h2>

        {cards.map((Card) => (
            <div class={`relative border-3 border-secondary rounded-2xl p-6 pt-8 bg-white dark:bg-black ${Card.colSpan} h-full`}>
                <div class={`absolute ${Card.iconPos} bg-white dark:bg-black p-1 rounded-full flex items-center justify-center w-10 h-10`}>
                    <Card.icon class={'text-black dark:text-white'}/>
                </div>
                <h3 class="text-xl font-bold mb-2 text-black dark:text-white">{Card.title}</h3>
                <p class="text-sm text-gray-600 dark:text-gray-300">{Card.description}</p>
            </div>
        ))}
    </div>
</section>
