---
import downloadPlay from '@/assets/images/downloadPlay.png';
import downloadApp from '@/assets/images/downloadApple.png';
import tenis from '@/assets/images/sports/tenis.png';
import escalada from '@/assets/images/sports/escalada.webp';
---

<script is:inline>
  // Importa las imágenes solo aquí
  const images = [
    { src: '/escalada.webp' },
    { src: '/tenis.png' }
  ];
  let current = 0;
  let next = 1;
  let showingFirst = true;

  function crossfade() {
    const img1 = document.getElementById('slider-img-1');
    const img2 = document.getElementById('slider-img-2');
    if (showingFirst) {
      img2.src = images[next].src;
      img2.style.opacity = 1;
      img1.style.opacity = 0;
    } else {
      img1.src = images[next].src;
      img1.style.opacity = 1;
      img2.style.opacity = 0;
    }
    showingFirst = !showingFirst;
    current = next;
    next = (next + 1) % images.length;
  }

  setInterval(crossfade, 6000);
</script>

<section class="flex flex-col items-center justify-center w-full max-h-screen max-w-[1440px] mx-auto">
  <div class="relative w-full flex items-center justify-center overflow-hidden h-[60vw] max-h-[700px] min-h-[300px]">
    <img
      id="slider-img-1"
      src={escalada.src}
      alt="Deporte"
      class="rounded-t-2xl absolute inset-0 object-cover w-full h-full shadow-lg transition-opacity duration-700"
      style="opacity: 1;"
    />
    <img
      id="slider-img-2"
      src={tenis.src}
      alt="Deporte"
      class="rounded-t-2xl absolute inset-0 object-cover w-full h-full shadow-lg transition-opacity duration-700"
      style="opacity: 0;"
    />
    <h1 class="hidden lg:block text-3xl sm:text-4xl md:text-5xl lg:text-6xl max-w-96 italic text-secondary font-bold absolute top-[39%] left-[22%] transform -translate-x-1/2 -translate-y-1/2 text-center [text-shadow:_1px_1px_2px_rgba(0,0,0,0.3)]">DESCARGA LA APP</h1>
    <h1 class="hidden lg:block text-3xl sm:text-4xl md:text-5xl lg:text-6xl max-w-96 italic text-secondary font-bold absolute top-[53%] left-[53%] transform -translate-x-1/2 -translate-y-1/2 text-center [text-shadow:_1px_1px_2px_rgba(0,0,0,0.3)]">Y HAZ MATCH</h1>
    <div class="absolute -translate-y-0 
        flex flex-col items-center gap-4 
        lg:right-10  lg:top-1/2 lg:-translate-y-1/2 lg:items-end">
      <img
      src={downloadPlay.src}
      alt="Descargar en Google Play"
      class="cursor-pointer hover:scale-110 w-48 sm:w-52 md:w-56 lg:w-64 xl:w-72 h-auto transition-all duration-300"
      />
      <img
      src={downloadApp.src}
      alt="Descargar en App Store"
      class="cursor-pointer hover:scale-110 w-48 sm:w-52 md:w-56 lg:w-64 xl:w-72 h-auto transition-all duration-300"
      />
    </div>
  </div>
</section>