<section class="mb-16 sm:mb-20 md:mb-24 lg:mb-32">
  <div class="max-w-max-content mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-around lg:gap-8">
    <div class="text-left lg::text-left mb-10 lg::mb-0 lg::max-w-xl lg:max-w-2xl">
      <h2 class="mb-6 text-3xl sm:text-4xl font-bold text-white text-balance">
        ¿Tienes un Espacio Deportivo? <span class="text-secondary">¡Únete a Dactive!</span>
      </h2>
      <p class="text-lg sm:text-xl text-gray-500 text-balance">
        Si representas un centro educativo, club deportivo, pub, o cualquier negocio con instalaciones deportivas, regístralas en nuestra plataforma y conecta con miles de usuarios.
      </p>
    </div>
    <div class="text-center ">
      <a
        href="/enterprise"
        class="inline-block w-full sm:w-auto bg-[#F3BC30] hover:bg-[#D9A42C] text-black font-bold py-4 px-8 rounded-lg transition-colors duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-[#F3BC30] focus:ring-opacity-50 text-lg"
      >
        Registra tu espacio
      </a>
    </div>
  </div>
</section>
