---
---
<section id="contact-form" class="py-16 md:py-24 text-left">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="mb-12 text-3xl text-white max-w-2xl mx-auto">
      ¿Tienes alguna duda? <span class="text-secondary">Contáctanos</span>
    </h2>
    <p class="mb-12 text-lg text-neutral-300 max-w-2xl mx-auto">
      Nos encantaría saber de ti. Completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.
    </p>
    <form class="max-w-2xl mx-auto bg-neutral-800 p-8 sm:p-10 md:p-12 rounded-xl shadow-2xl">
      <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-neutral-200 text-left">Nombre completo</label>
        <input type="text" id="name" name="name" class="w-full px-4 py-3 rounded-lg bg-neutral-700 border border-neutral-600 text-white focus:ring-secondary focus:border-secondary transition-colors" placeholder="Tu nombre" required />
      </div>
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-neutral-200 text-left">Correo electrónico</label>
        <input type="email" id="email" name="email" class="w-full px-4 py-3 rounded-lg bg-neutral-700 border border-neutral-600 text-white focus:ring-secondary focus:border-secondary transition-colors" placeholder="tu@email.com" required />
      </div>
      <div class="mb-8">
        <label for="message" class="block mb-2 text-sm font-medium text-neutral-200 text-left">Mensaje</label>
        <textarea id="message" name="message" rows="5" class="w-full px-4 py-3 rounded-lg bg-neutral-700 border border-neutral-600 text-white focus:ring-secondary focus:border-secondary transition-colors" placeholder="Escribe tu mensaje aquí..." required></textarea>
      </div>
      <button type="submit" class="cursor-pointer w-full bg-[#F3BC30] hover:bg-[#D9A42C] text-black font-bold py-3 px-6 rounded-lg transition-colors duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-[#F3BC30] focus:ring-opacity-50">
        Enviar Mensaje
      </button>
    </form>
  </div>
</section>
