---
import Gif from '@/components/Gif.astro';
---
<section class="h-screen flex flex-col justify-center items-center top-0 left-0 w-full mt-[-100px] pt-32">
    <Gif/>
    <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-8xl font-black italic text-center text-white flex flex-col p-4">
        <span>HAZ <span class="text-secondary">MATCH</span> </span>
        <span>EN EL DEPORTE</span>
    </h1>
    <p class="text-base sm:text-lg md:text-xl text-white absolute top-6/7">Haz match con <span class="font-bold">DACTIVE</span></p>
</section>