---
import video from '@/assets/videos/header.mp4';
import ArrowDown from '@/assets/images/icons/arrow-down.svg';
---

<section id="hero" class="h-screen flex flex-col justify-center items-center sm:mt-[-100px] mt-[-60px] max-w-[1440px] mx-auto relative clip-ellipse">
  <video
    class="absolute top-0 left-0 w-full h-full object-cover z-[-1]" autoplay loop muted playsinline>
    <source src={video} type="video/mp4" />
  </video>

  <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-8xl font-black italic text-center text-white text-shadow-sm flex flex-col p-4">
    <span>HAZ <span class="text-secondary">MATCH</span></span>
    <span>EN EL DEPORTE</span>
  </h1>

  <p class="text-base sm:text-lg md:text-xl text-shadow-sm text-white absolute top-[85vh]">
    Haz match con <span class="font-bold text-secondary">DACTIVE</span>
  </p>

  <div id="scroll-down" class="absolute bottom-[1vh] left-1/2 animate-bounce text-white cursor-pointer transition-all duration-300" >
    <ArrowDown class="lg:w-10 lg:h-10 sm:w-8 sm:h-8 w-6 h-6 text-secondary" />
  </div>
</section>

<script >
  const scrollDown = document.getElementById('scroll-down');
  if (!scrollDown) {
    console.error('No se encontró #scroll-down');
  } else {
    window.addEventListener('scroll', () => {
      const scrollY = window.scrollY;
      const vh = window.innerHeight;
      if (scrollY > vh * 0.2) {
        scrollDown.classList.add('opacity-0', 'translate-y-5', 'pointer-events-none');
      } else {
        scrollDown.classList.remove('opacity-0', 'translate-y-5', 'pointer-events-none');
      }
    });

    scrollDown.addEventListener('click', () => {
      window.scrollTo({
        top: window.innerHeight,
        behavior: 'smooth'
      });
    });
  }
</script>
