---
import mock1 from '@/assets/images/phone/mock1.png';
import mock2 from '@/assets/images/phone/mock2.png';
import mock3 from '@/assets/images/phone/mock3.png';
import Search from '@/assets/images/search.svg';
---

<section class="bg-red-400 mockup-section relative flex flex-col gap-20 items-center justify-center max-w-[1440px] py-28 px-20 mx-auto">
    <!-- <div class="rounded-full w-16 h-16 bg-secondary shadow-lg absolute left-1/2 -translate-x-1/2 top-0 bouncing-ball">
    </div> -->
    
    <div id="anim-title">
        <h2 class="text-secondary font-black text-5xl text-center italic">EL PODER DE ELEGIR</h2>
        <p class="text-gray-500 italic text-center">¿Cómo funciona?</p>
    </div>

    <div class="h-screen w-full flex justify-between items-center">
        <img
            src={mock1.src}
            alt="Mockup 1"
            class="max-w-[1440px] -ml-[33%]"
        />
        <div class="flex flex-col gap-6 min-w-48">
            <h3 class="text-secondary font-semibold text-4xl">LO QUE QUIERES</h3>
            <p class="text-2xl">Casi tantos deportes como quieras</p>
            
            <div class="flex flex-col">
                <div class="relative">
                    <div class="absolute left-3 top-1/2 -translate-y-1/2">
                        <Search/>
                    </div>
                    <input
                        type="text"
                        placeholder="Buscar deportes"
                        class="bg-secondary placeholder:text-white not-italic text-white pl-10 px-4 py-2 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="h-screen w-full flex justify-between items-center">

        <div class="flex flex-col gap-6 min-w-48">
            <h3 class="text-secondary font-semibold text-4xl">DÓNDE QUIERES</h3>
            <p class="text-2xl">Localizaciones privadas, públicas, naturales…</p>
        </div>

        <img
            src={mock2.src}
            alt="Mockup 1"
            class="max-w-4xl w-1/2"
        />

    </div>
    
    


    <div class="h-screen w-full flex justify-between items-center">
        <img
            src={mock3.src}
            alt="Mockup 1"
            class="max-w-4xl w-1/2"
        />
        <div class="flex flex-col gap-6 min-w-48">
            <h3 class="text-secondary font-semibold text-4xl">CON QUIÉN QUIERES</h3>
            <p class="text-2xl">La plantilla de jugadores potenciales</p>
        </div>
    </div>
</section>

<!-- <script >
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    // Animación de título
    gsap.from("#anim-title", {
        scrollTrigger: {
            trigger: "#anim-title",
            start: "top 80%",
            toggleActions: "play none none none"
        },
        opacity: 0,
        y: 50,
        duration: 0.3
    });

    // Animación de pelota rebotando sincronizada con scroll
    gsap.to(".bouncing-ball", {
        scrollTrigger: {
            trigger: ".mockup-section", // Cambia el trigger a una clase específica
            start: "top top",
            end: "+=600",
            pin: true,
            scrub: true,
            pinSpacing: true,
        },
        y: 320,
        ease: "bounce.out",
        duration: 1
    });
</script> -->