---
import WhatYouWant from '@/components/mockup/whatYouWant/WhatYouWant.astro';
import WhereYouWant from '@/components/mockup/WhereYouWant/WhereYouWant.astro';
import WhoYouWant from '@/components/mockup/WhoYouWant/WhoYouWant.astro';
---

<section class="mb-16 sm:mb-20 md:mb-24 lg:mb-32 mx-auto max-w-max-content relative flex flex-col items-center px-4 sm:px-6 md:px-8 lg:px-10">
  <section class="p-3 sm:p-4 md:p-5 lg:p-6 mb-10 sm:mb-12 md:mb-16 lg:mb-20">
    <h2 class="text-secondary font-black italic text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center">EL PODER DE&nbsp;ELEGIR</h2>
    <p class="text-gray-500 text-xl sm:text-2xl md:text-3xl lg:text-4xl italic text-center">¿Cómo funciona?</p>
  </section>  
  <WhatYouWant />
  <WhereYouWant/>
  <WhoYouWant />
</section>