---
import radar from '@/assets/videos/radar.mp4'
---

<section id="radar-section" class="rounded-2xl overflow-hidden relative bg-black max-w-max-content mx-auto flex flex-col gap-8 justify-center items-center pt-12 sm:pt-16 md:pt-20 lg:pt-24 mb-16 sm:mb-20 md:mb-24 lg:mb-32">
    <video src={radar} muted autoplay loop playsinline class="w-full">
        <source src={radar} type="video/mp4">
    </video>
</section>
