---
import FeaturedSports from '@/components/mockup/whatYouWant/FeaturedSports.astro';
import SportSearch from '@/components/mockup/whatYouWant/SportSearch.astro';
---

<section class="flex flex-col gap-4 sm:gap-6 md:gap-8 mb-12 sm:mb-16 md:mb-20 lg:mb-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 sm:gap-6 md:gap-8 lg:gap-10">
      <FeaturedSports/>
      <SportSearch/>
    </div>
</section>
