---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---
<aside class={`relative w-[100%] md:w-[115% flex flex-col items-start justify-center p-4 sm:p-5 md:p-6 gap-2 sm:gap-3 md:gap-4 ${className || ''}`}>
  <h3 class="[font-size:clamp(1.5rem,4vw,2.5rem)] font-semibold text-secondary w-full">
    CON QUIÉN QUIERES
  </h3>
  <p lang="es" class="[font-size:clamp(0.875rem,2.5vw,1.25rem)] w-full text-white [text-align:justify] [-webkit-hyphens:auto] [-ms-hyphens:auto] [hyphens:auto] [text-wrap:balance] leading-relaxed">
    Tú eliges la plantilla de jugadores potenciales con los distintos modos de juego. Si hay match, ¡es porque hay match!
  </p>
</aside>
